{% extends 'base.html' %}

    {% block texto_h1 %} Listado de Libros {% endblock texto_h1 %} 

    {% block contenido %}

        <form action="" method="get">

            {{formulario}}

            <input type="submit" value="buscar">

        </form>


        {% if libros_buscados %}
            <ul>
                {% for libro in libros_buscados %}
                    <li>
                        {{libro}}
                        <a href={% url 'libro_detalle' libro.id %}>Detalle</a>
                        <a href={% url 'libro_actualizar' libro.id %}>Actualizar</a>
                        <a href={% url 'libro_borrar' libro.id %}>Borrar</a>

                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No hay datos</p>
        
        {% endif %}
        
    {% endblock contenido %}
